<?xml version="1.0"?> 

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="camera" > 
<xacro:property name="PI" value="3.1415926535897931" />
  <material name="red">
      <color rgba="1.0 0.0 0.0 1"/>
  </material>

  <material name="green_light">
      <color rgba="0.0 1.0 0.0 1"/>
  </material>

  <material name="green_dark">
    <color rgba="0.0 0.5 0.0 1"/>
  </material>

  <material name="blue">
      <color rgba="0.0 0.0 1.0 1"/>
  </material>


<xacro:macro name="robot_camera"> 


  <joint name="camera_joint" type="fixed">
    <axis xyz="1 0 0" />
    <origin xyz="0.0 0.0 0.04" rpy="0 0 0"/>
    <parent link="front_hokuyo"/>
    <child link="camera_link"/>
  </joint>

  <!-- Camera -->
  <link name="camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.01 0.01 0.01"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
     <box size="0.01 0.01 0.01"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
  
   <joint name="camera_depth_joint" type="fixed">
   <origin xyz="0 0 0" rpy="-1.57075 0 -1.57075"/>
    <child link="camera_depth_link"/>
    <parent link="camera_link"/>    
  </joint>
  
   <link name="camera_depth_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="0.0001 0.0001 0.0001"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
     <box size="0.0001 0.0001 0.0001"/>
      </geometry>
      </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>
   
   
</xacro:macro>


</robot> 
